@font-face {
  font-family: Tektur;
  src: url(/COURSE_REGISTRATION_FORM/fonts/Tektur-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: Gelasio;
  src: url(/COURSE_REGISTRATION_FORM/fonts/Gelasio-Regular.ttf);
}
*{
    font-family: Gelasio;
}
body {
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}
h1 {
  text-align: center;
  font-family: Tektur;
  font-size: 2.3em;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 10px;
}
h1:hover{
  background: #FD1D1D;
  background: linear-gradient(90deg, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 17%, rgba(249, 252, 69, 1) 54%, rgba(142, 252, 69, 1) 81%, rgba(54, 135, 0, 1) 97%);
  background-clip: text;
  color: transparent;
  transform: scale(1.15); 
  transition: all 0.2s ease-out;
}
form{
  min-width: 550px;
}
fieldset{
  background: #8884bd;
  background: radial-gradient(circle, rgba(136, 132, 189, 1) 0%, rgba(0, 212, 255, 1) 100%);
  box-shadow: 3px 3px 5px hsl(300, 70%, 20%), -3px -3px 5px hsl(300, 70%, 20%);
  border: 1px solid;
  border-radius: 5px;
}
legend{
  background: hsl(287, 55%, 63%);
  background: radial-gradient(circle, hsl(287, 55%, 68%) 0%, hsl(323, 45%, 63%) 100%);
  box-shadow: 3px 3px 5px hsl(300, 100%, 90%), -3px -3px 5px hsl(300, 100%, 90%);
  border-radius: 5px;
  border: 2px solid;
  text-align: center;
  font-family: Tektur;
  font-weight: 700;
  letter-spacing: 1px;
}
.user-info, .course-info{
  font-weight: 00;
}
.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip{
  background-color: yellowgreen;
  display: none;
}
.submit{
  box-shadow: 2px 2px 5px hsl(108, 77%, 43%), -2px -2px 5px hsl(108, 77%, 43%);
  background-color: hsl(0, 0%, 100%);
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
}
.submit:hover{
  box-shadow: 2px 2px 5px hsl(108, 77%, 43%), -2px -2px 5px hsl(108, 77%, 43%);
  background-color: hsl(108, 84%, 71%);
  font-size: 1.2em;
  font-weight: 100;
  border-radius: 5px;
}
.reset{
  background-color: hsl(0, 100%, 84%);
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 5px;
}
.reset:hover{
  box-shadow: 2px 2px 5px hsl(0, 100%, 90%), -2px -2px 5px hsl(0, 100%, 90%);
  background-color: hsl(0, 60%, 46%);
  color: white;
  font-weight: 100;
  font-size: 1.1em;
  border-radius: 5px;
}
input{
  border-radius: 3px;
}
input:hover+p{
  box-shadow: 2px 2px 3px hsl(300, 100%, 90%), -2px -2px 3px hsl(300, 100%, 90%);
  display: inline;
}

input[type="password"]:focus, [type="tel"]:focus, input[type="text"]:focus, input[type="email"]:focus{
  color: hsl(60, 100%, 80%);
  background-image: linear-gradient( 135deg, #3B2667 10%, hsl(275, 100%, 50%) 100%);
  font-style: italic;
}
input:focus::placeholder{
  color: rgb(255, 255, 255);
}
input[id="tp"]:read-only{
  background-color: hsl(89, 100%, 73%);
  font-weight: 700;
}
input[type="radio"]:checked{
  height: 15px;
  width: 15px;
}
select{
  border: 2px solid black;
  border-radius: 20px;
  background-color: burlywood;
}
.icon{
  display: none;
  height: 20px;
  width: 20px;
}
input[type="email"]:focus:valid~#correct{
  display: inline;
}
input[type="email"]:focus:invalid~#wrong{
  display: inline;
}